$gold:  #946e3a;
$shade: #c4af93;
$tint:  #f4f0ed;
$shell: #f9f7f6;
$purp:  #352b6b;
$char:  #3b3331;

$color1: steelblue;
$color2: $shade;
$color3: $tint;
$color4: $shell;
$color5: $purp;
$color6: $char;
